.off-canvas  {
  .ajax--cart {
    .button--container {
      .button--checkout {
        margin-bottom: 10px;
      }
    }
    .ivy--express-checkout-btn {
      margin-top: 75px;
      .ivy-checkout-button {
        max-width: 100%;
      }
    }
  }
}

.ivy-checkout-button {
  max-width: 100%;
}

.product--buybox {
  .ivy-banner {
    margin-bottom: 10px;
  }
}

.ivy-payment-logo {
  width: 45px;
  margin-top: -12px;
}

.is--ctl-checkout.is--act-cart {
  .ivy--express-checkout-btn {
    float: right;
  }
}

.ivy--express-checkout-btn.buybox--form {
  padding: 0;
  .ivy-checkout-button.buybox--button {
    float: right;
  }
}
.ivy--express-checkout-btn {
  .ivy-checkout-button-inner {
    min-width: 100%;
  }
}

.register--login {
  .ivy-banner {
    margin-top: 10px;
  }
}

.is--ctl-checkout.is--act-cart {
  .ivy-banner-wrapper {
    width: 100%;
    float: right;
  }
}

.product--buybox {
  .ivy-banner-wrapper {
    width: 63%;
    float: right;
    margin-right: 0;
  }
}

@media screen and (min-width: @phoneLandscapeViewportWidth) {
  .is--ctl-checkout.is--act-cart {
    .ivy-banner-wrapper {
      width: 49%;
    }
  }
  .product--buybox {
    .ivy-banner-wrapper {
      width: 50.4%;
      margin-right: 20%;
    }
  }
}

@media screen and (min-width: @tabletViewportWidth) {
  .is--ctl-checkout.is--act-cart {
    .ivy-banner-wrapper {
      width: 25%;
    }
  }
}

@media screen and (min-width: @tabletLandscapeViewportWidth) {
  .product--buybox {
    .ivy-banner-wrapper {
      width: 63%;
      float: right;
      margin-right: 0;
    }
  }
}