.off-canvas  {
  .ajax--cart {
    .button--container {
      .button--checkout {
        margin-bottom: 10px;
      }
    }
  }
}

.product--buybox {
  .ivy-banner {
    margin-bottom: 10px;
  }
}

.ivy-payment-logo {
  width: 45px;
  margin-top: -12px;
}